@page "/trainingplans"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using GrindingPlanner.Shared
@inject IDbContextFactory<GrindingPlanner.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="trainingplans/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().TrainingPlan">
    <PropertyColumn Property="trainingplan => trainingplan.TrainingPlanName" />
    <PropertyColumn Property="trainingplan => trainingplan.OwnerId" />
    <PropertyColumn Property="trainingplan => trainingplan.TrainerId" />

    <TemplateColumn Context="trainingplan">
        <a href="@($"trainingplans/edit?trainingplanid={trainingplan.TrainingPlanId}")">Edit</a> |
        <a href="@($"trainingplans/details?trainingplanid={trainingplan.TrainingPlanId}")">Details</a> |
        <a href="@($"trainingplans/delete?trainingplanid={trainingplan.TrainingPlanId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
